.popup-edit__close-button {
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 35px;
  position: absolute;
  top: calc(50% - 208px);
  left: calc(50% + 223px);
  display: flex;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup-edit__close-button {
    top: calc(50% - 217px);
    left: calc(50% + 108px);
  }
}

.popup-edit__close-button:hover {
  opacity: 0.6;
}