.profile {
  margin-top: 36px;
  margin-bottom: 47px;
  display: grid;
  height: auto;
  grid-template-columns: 3fr 15fr 4fr;
  grid-template-rows: auto;
  gap: 0;
}

@media screen and (max-width: 930px) {
  .profile {
    grid-template-columns: 3fr 15fr;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    grid-template-columns: 1fr;
  }
}