.card__like-button {
  height: 19px;
  width: 20px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  margin: auto 0px auto auto;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_off {
  background-image: url("../../../images/like-button-disabled.svg");
}

.card__like-button_on {
  background-image: url("../../../images/like-button-active.svg");
}

@media screen and  (max-width: 320px) {
  .card__like-button {
    margin-right: 0;
  }
}