.header__logo {
  width: 16.1%;
  margin-bottom: 41px;
}

@media screen and (max-width: 930px) {
  .header__logo {
    width: 30%;
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 45%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-left: 27px;
    width: 32.4%;
    margin-bottom: 28px;
  }
}