.profile__add-button {
  width: 100%;
  aspect-ratio: 3 / 1;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 930px) {
  .profile__add-button {
    aspect-ratio: 282 / 50;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 550px) {
  .profile__add-button {
   aspect-ratio: 282 / 50;
   grid-column: 1;
  }
}