.card__delete-button {
  position: relative;
  top: 20px;
  left: calc(100% - 39px);
  height: 19px;
  width: 19px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/delete-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__delete-button-inactive, .card__delete-button-inactive:hover {
  opacity: 0;
  pointer-events: none;
}
