.profile__image {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 50%;
  background-image: url('../../../images/profile-logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

@media screen and (max-width: 320px) {
  .profile__image {
    width: 42%;
    margin: 0 auto;
  }
}