.popup-card__close-button {
  margin-bottom: 16px;
  height: 35px;
  width: 35px;
  margin-top: -25px;
  margin-right: -45px;
  margin-left: auto;
  position: static;
  background-size: contain;
}
@media screen and (max-width: 550px) {
  .popup-card__close-button {
    height: 20px;
    width: 20px;
    margin-top: 0;
    margin-right: 0;
  }
}